<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Control</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header class="panel-superior">
        <h1>PANEL DE CONTROL</h1>
    </header>

    <main>
        <div class="contenedor">
            <aside class="sidebar">
                <h2>BIENVENIDO <br><span>“EMPRESA”</span></h2>
                <ul>
                    <li><a href="./dashboard.html"><button >Solicitudes</button></a></li>
                    <li><a href="./estadisticas.html"><button >Estadísticas</button></a></li>
                </ul>
                <div class="mapa">
                    <img src="" alt="Mapa" />
                </div>
            </aside>

            <section class="contenido">
                <div class="tabla-contenedor">
                    <table id="createTable">
                        
                    </table>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer">
        <span>© 2025 Empresa</span>
    </footer>
</body>
<script type="module" src="../js/status.js"></script>
</html>