<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Control</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header class="panel-superior">
        <h1>PANEL DE CONTROL</h1>
    </header>

    <main>
        <div class="contenedor">
            <aside class="sidebar">
                <h2>BIENVENIDO <br><span>“EMPRESA”</span></h2>
                <ul>
                    <li><span>Solicitudes</span></li>
                    <li><span>Estadísticas</span></li>
                </ul>
                <div class="mapa">
                    <img src="Captura desde 2025-07-17 18-39-19.png" alt="Mapa" />
                </div>
            </aside>

            <section class="contenido">
                <div class="tabla-contenedor">
                    <table>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>DIRECCIÓN</th>
                                <th>HORA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jonathan</td>
                                <td>Calle 120#12-129</td>
                                <td>11:50 pm</td>
                                <td>Se fue la luz</td>
                                <td><span class="badge pendiente">PENDIENTE</span></td>
                            </tr>
                        </tbody>
                        <thead>
                    </table>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer">
        <span>© 2025 Empresa</span>
    </footer>
</body>

</html>