<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <table>
      <thead>
        <th>SOLICITUDES</th>
        <th>RECIBIDAS</th>
        <th>PROCESO</th>
        <th>RESUELTAS</th>
      </thead>
      <tbody>
        <tr>
          <td id="sol"></td>
          <td id="rec"></td>
          <td id="pro"></td>
          <td id="res"></td>
        </tr>
      </tbody>
      <thead>
        <th>CEDULA</th>
        <th>HORA RECIBIDO</th>
        <th>HORA PROCESO</th>
        <th>HORA FINALIZADO</th>
      </thead>
      <tbody>
        <tr>
          <td id="cedula"></td>
          <td id="fecha1"></td>
          <td id="fecha2"></td>
          <td id="fecha3"></td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
<script type="module" src="./src/js/main.js"></script>
</html>